@font-face {
  font-family: Inter;
  src: url(../../font/Inter-VariableFont_slnt.wght.ttf);
}
@font-face {
  font-family: Pretendard;
  src: url(../../font/PretendardVariable.ttf);
}
@font-face {
  font-family: NanumOgbice;
  src: url(../../font/NanumOgbice.ttf);
}
/* common */
body {
  width: 100%;
  font-family: Inter, Pretendard, sans-serif;
  color: #393939;
}

.NanumOgbice {
  font-family: NanumOgbice;
  color: #000;
}

.wrap {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.indent9999 {
  display: inline-block;
  font-size: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

section {
  width: 100%;
  padding: 50px 0;
}
@media screen and (max-width: 640px) {
  section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 641px) {
  section {
    padding: 150px 0;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding: 200px 0;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .wrapper {
    width: 400px;
  }
}
@media screen and (min-width: 641px) {
  .wrapper {
    width: 570px;
  }
}
@media screen and (min-width: 720px) {
  .wrapper {
    width: 620px;
  }
}
@media screen and (min-width: 850px) {
  .wrapper {
    width: 750px;
  }
}
@media screen and (min-width: 950px) {
  .wrapper {
    width: 850px;
  }
}
@media screen and (min-width: 1050px) {
  .wrapper {
    width: 950px;
  }
}
@media screen and (min-width: 1150px) {
  .wrapper {
    width: 1050px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1200px;
  }
}

.sect-title {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 80px;
}

.bold {
  font-weight: 700;
}

.slim {
  font-weight: 300;
}

/* // common */
.intro-sect {
  position: relative;
  height: 100vh;
  border-radius: 0 0 0 100px;
}
@media screen and (max-width: 719px) {
  .intro-sect {
    padding: 20px 0;
  }
}
@media screen and (min-width: 720px) {
  .intro-sect {
    padding: 35px 0;
  }
}
@media screen and (min-width: 1280px) {
  .intro-sect {
    padding: 50px 0;
  }
}
.intro-sect::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 0;
  width: 50%;
  height: 70%;
  background: url(../img/intro-block.png) no-repeat 0 0/100%;
}
@media screen and (max-width: 719px) {
  .intro-sect::after {
    width: 120%;
    height: 60%;
    top: -29px;
    right: -85px;
  }
}
@media screen and (min-width: 720px) {
  .intro-sect::after {
    width: 70%;
    height: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .intro-sect::after {
    width: 50%;
    height: 70%;
  }
}
.intro-sect .intro-wrap {
  position: relative;
  height: 100%;
}
.intro-sect .intro-wrap .inner-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
}
.intro-sect .intro-wrap .inner-box .intro-mini-text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .intro-mini-text {
    text-align: right;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.intro-sect .intro-wrap .inner-box .main-text-box .title-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box {
    gap: 15px;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-eng {
  color: #fff;
  font-size: 24px;
  margin-left: 5px;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-eng {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    opacity: 0.9;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title {
  display: flex;
  align-items: end;
  gap: 20px;
  font-size: 70px;
  font-weight: 900;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title {
    flex-direction: column;
    align-items: start;
    font-size: 60px;
    gap: 5px;
  }
}
@media screen and (min-width: 720px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title {
    font-size: 55px;
    gap: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title .title-ko {
    order: 2;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title .title-eng {
  opacity: 0.5;
  font-weight: 200;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title .title-eng {
    font-size: 30px;
    margin-left: 5px;
    order: 1;
  }
}
@media screen and (min-width: 720px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title .title-eng {
    font-size: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .intro-title .title-eng {
    font-size: 70px;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-ko {
  font-weight: 600;
  color: #303030;
  font-size: 32px;
}
@media screen and (max-width: 719px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-ko {
    font-size: 23px;
  }
}
@media screen and (min-width: 720px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-ko {
    font-size: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .intro-sect .intro-wrap .inner-box .main-text-box .title-box .sub-title-ko {
    font-size: 32px;
  }
}
.intro-sect .intro-wrap .inner-box .main-text-box .desc-box {
  margin-bottom: 80px;
}
.intro-sect .intro-wrap .inner-box .main-text-box .desc-box > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.intro-sect .intro-wrap .inner-box .main-text-box .desc-box > ul li ul {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.intro-sect .intro-wrap .inner-box .main-text-box .desc-box > ul li ul .desc-title {
  display: inline-block;
  width: 80px;
  font-weight: 900;
}
.intro-sect .intro-wrap .inner-box .main-text-box .desc-box > ul li ul .desc-text {
  font-weight: 300;
  color: #fff;
}

.overview-sect .overview-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 849px) {
  .overview-sect .overview-wrap {
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (min-width: 850px) {
  .overview-sect .overview-wrap {
    flex-direction: row;
    gap: 20px;
  }
}
.overview-sect .overview-wrap > div {
  width: 45%;
  height: auto;
}
@media screen and (max-width: 849px) {
  .overview-sect .overview-wrap > div {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 850px) and (max-width: 1279px) {
  .overview-sect .overview-wrap > div {
    width: 48%;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap > div {
    width: 45%;
    height: 540px;
  }
}
.overview-sect .overview-wrap .img-box img {
  width: 100%;
}
.overview-sect .overview-wrap .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 520px;
}
.overview-sect .overview-wrap .text-box .sect-title {
  text-align: left;
  font-size: 19px;
  margin-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .overview-sect .overview-wrap .text-box .sect-title {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 641px) and (max-width: 849px) {
  .overview-sect .overview-wrap .text-box .sect-title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1050px) {
  .overview-sect .overview-wrap .text-box .sect-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1051px) {
  .overview-sect .overview-wrap .text-box .sect-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap .text-box .sect-title {
    margin-bottom: 50px;
  }
}
.overview-sect .overview-wrap .text-box .main-text-box {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (max-width: 640px) {
  .overview-sect .overview-wrap .text-box .main-text-box {
    gap: 50px;
  }
}
@media screen and (min-width: 641px) and (max-width: 849px) {
  .overview-sect .overview-wrap .text-box .main-text-box {
    gap: 70px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1279px) {
  .overview-sect .overview-wrap .text-box .main-text-box {
    gap: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap .text-box .main-text-box {
    gap: 70px;
  }
}
.overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
  font-size: 23px;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
    font-size: 19px;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 641px) and (max-width: 849px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 850px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
    font-size: 16px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1050px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
    font-size: 20px;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-sub-title {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
.overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
  font-size: 30px;
  line-height: 40px;
  color: #000;
}
@media screen and (max-width: 640px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
    font-size: 23px;
    line-height: 30px;
  }
}
@media screen and (min-width: 641px) and (max-width: 849px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (min-width: 850px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
    font-size: 21px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1050px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-title-box .box-title {
    font-size: 30px;
    line-height: 40px;
  }
}
.overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 19px;
  line-height: 28px;
}
@media screen and (max-width: 640px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
    font-size: 17px;
    line-height: 24px;
    gap: 25px;
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 641px) and (max-width: 849px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
    font-size: 19px;
    line-height: 28px;
    gap: 30px;
  }
}
@media screen and (min-width: 850px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
    font-size: 15px;
    line-height: 24px;
    gap: 15px;
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 1050px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
    font-size: 17px;
    line-height: 26px;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .overview-sect .overview-wrap .text-box .main-text-box .main-desc-box {
    font-size: 19px;
    line-height: 28px;
    gap: 30px;
  }
}
.overview-sect .overview-wrap .text-box .main-text-box .main-desc-box .gray {
  color: #b3b3b3;
}
.overview-sect .overview-wrap .text-box .main-text-box .main-desc-box span.highlight {
  background-color: #545454;
  color: white;
  border-radius: 5px;
  padding: 2px;
}
.overview-sect .overview-wrap .text-box .main-text-box .main-desc-box p.point-color {
  max-width: 505px;
}

.research-sect {
  position: relative;
  display: flex;
  margin: 20vh 0;
  flex-direction: column;
  justify-content: center;
  border-radius: 100vw 100vw 0 0;
  padding: 100px 0;
}
.research-sect .research-wrap {
  text-align: center;
  margin-top: 100px;
}
.research-sect .research-wrap .sect-title {
  margin-bottom: 180px;
}
.research-sect .research-wrap .research-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
}
@media screen and (min-width: 720px) and (max-width: 849px) {
  .research-sect .research-wrap .research-list {
    gap: 5%;
  }
}
@media screen and (max-width: 719px) {
  .research-sect .research-wrap .research-list > li {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 720px) {
  .research-sect .research-wrap .research-list > li {
    width: 45%;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1050px) {
  .research-sect .research-wrap .research-list > li {
    width: auto;
    margin-bottom: 0;
  }
}
.research-sect .research-wrap .research-list > li ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 1279px) {
  .research-sect .research-wrap .research-list > li ul {
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .research-sect .research-wrap .research-list > li ul {
    gap: 40px;
  }
}
.research-sect .research-wrap .research-list > li ul .emoji {
  font-size: 100px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1050px) {
  .research-sect .research-wrap .research-list > li ul .emoji {
    font-size: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .research-sect .research-wrap .research-list > li ul .emoji {
    font-size: 100px;
  }
}
.research-sect .research-wrap .research-list > li ul .desc-text {
  font-size: 19px;
  line-height: 29px;
}
@media screen and (min-width: 1050px) {
  .research-sect .research-wrap .research-list > li ul .desc-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .research-sect .research-wrap .research-list > li ul .desc-text {
    font-size: 19px;
  }
}
.research-sect .research-wrap .research-list > li ul .title-text {
  font-size: 21px;
}
@media screen and (min-width: 1050px) {
  .research-sect .research-wrap .research-list > li ul .title-text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .research-sect .research-wrap .research-list > li ul .title-text {
    font-size: 21px;
  }
}

.persona-sect .persona-wrap .inner-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.persona-sect .persona-wrap .inner-box .persona-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
  background-color: rgba(84, 84, 84, 0.1019607843);
  padding: 50px 50px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box {
    padding: 50px 30px;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box {
    padding: 70px 50px;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box {
  width: 10%;
  min-width: 100px;
  text-align: center;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box {
    width: 10%;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul {
    flex-direction: column;
    align-items: center;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul .img {
  width: 100%;
  max-width: 100px;
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul .img img {
  width: 100%;
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 640px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul {
    flex-direction: row;
    padding-bottom: 30px;
    gap: 10px;
  }
}
@media screen and (min-width: 641px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul {
    flex-direction: row;
    padding-bottom: 30px;
    gap: 20px;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul {
    flex-direction: column;
    padding-bottom: 0;
    gap: 20px;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul .name {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul .name {
    font-size: 25px;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul .name {
    font-size: 20px;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul {
    flex-direction: column;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul li {
  font-size: 15px;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul li {
    font-size: 18px;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .profile-box > ul > li > ul > li ul li {
    font-size: 15px;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box {
  width: 85%;
}
@media screen and (max-width: 1049px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box {
    width: 85%;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .saying-box {
  font-size: 28px;
  margin-bottom: 40px;
}
@media screen and (max-width: 849px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .saying-box {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (min-width: 850px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .saying-box {
    font-size: 28px;
    line-height: 38px;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li {
  display: inline-block;
  width: 32%;
  min-width: 200px;
  height: 150px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 849px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 850px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li {
    width: 32%;
    margin-bottom: 0;
  }
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li .list-title {
  font-size: 23px;
  margin-bottom: 15px;
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li ul {
  margin-left: 15px;
}
.persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li ul li {
  color: #5f5f5f;
  font-size: 15px;
  padding: 3px 0;
  list-style: circle;
}
@media screen and (max-width: 849px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 850px) {
  .persona-sect .persona-wrap .inner-box .persona-box .desc-box .detail-box > ul > li ul li {
    font-size: 15px;
  }
}

.journey-sect .journey-wrap .inner-box > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.journey-sect .journey-wrap .inner-box > ul > li {
  display: block;
  width: 19%;
  min-width: 180px;
  max-width: 220px;
}
@media screen and (max-width: 640px) {
  .journey-sect .journey-wrap .inner-box > ul > li {
    width: 48%;
    min-width: 180px;
    max-width: 220px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 641px) {
  .journey-sect .journey-wrap .inner-box > ul > li {
    width: 45%;
    min-width: 200px;
    max-width: 280px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 850px) {
  .journey-sect .journey-wrap .inner-box > ul > li {
    width: 30%;
    min-width: 200px;
    max-width: 280px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .journey-sect .journey-wrap .inner-box > ul > li {
    width: 19%;
    min-width: 180px;
    max-width: 230px;
    margin-bottom: 0;
  }
}
.journey-sect .journey-wrap .inner-box > ul > li ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.journey-sect .journey-wrap .inner-box > ul > li ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
}
.journey-sect .journey-wrap .inner-box > ul > li ul .list-desc.bold {
  font-size: 23px;
}
.journey-sect .journey-wrap .inner-box > ul > li ul .list-desc {
  background-color: rgba(255, 255, 255, 0.7019607843);
  border-radius: 10px;
  font-size: 13px;
  line-height: 18px;
}
.journey-sect .journey-wrap .inner-box > ul > li ul .feel-box {
  font-size: 60px;
  background: url(./../img/DashLine.svg) repeat-x center center/21px;
}

.approach-sect .approach-wrap .inner-box {
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(172, 172, 172, 0.1019607843);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.approach-sect .approach-wrap .inner-box .approach-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .approach-sect .approach-wrap .inner-box .approach-list {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .approach-sect .approach-wrap .inner-box .approach-list {
    justify-content: space-between;
  }
}
.approach-sect .approach-wrap .inner-box .approach-list > li {
  position: relative;
  display: block;
  width: 22%;
}
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li:first-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 215%;
    height: 2px;
    background: url(../img/DashLine.svg) repeat-x center center/21px;
    bottom: -75px;
    left: 0;
  }
}
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li:nth-child(-n+2) {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 719px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li:nth-child(-n+3) {
    margin-bottom: 150px;
  }
  .approach-sect .approach-wrap .inner-box .approach-list > li:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: url(../img/DashLine.svg) repeat-x center center/21px;
    bottom: -75px;
    left: 0;
  }
}
@media screen and (max-width: 719px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li {
    width: 100%;
  }
}
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li {
    width: 43%;
  }
}
@media screen and (min-width: 1280px) {
  .approach-sect .approach-wrap .inner-box .approach-list > li {
    width: 22%;
  }
}
.approach-sect .approach-wrap .inner-box .approach-list > li ul li {
  display: block;
  text-align: center;
  padding: 25px 10px;
  border-radius: 10px;
}
.approach-sect .approach-wrap .inner-box .approach-list > li ul .approach-item {
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.6);
}
.approach-sect .approach-wrap .inner-box .approach-list > li ul .approach-keyword {
  color: #acacac;
  font-weight: 600;
}
.approach-sect .approach-wrap .inner-box .approach-list > li ul .approach-conclusion {
  color: #fff;
  font-weight: 500;
}

.goal-sect .goal-wrap h2 {
  margin-bottom: 60px;
}
.goal-sect .goal-wrap p {
  font-size: 22px;
  text-align: center;
  line-height: 38px;
}

.target-sect {
  position: relative;
  display: flex;
  margin: 20vh 0;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 100vw 100vw;
  padding: 100px 0;
}
.target-sect .target-wrap {
  text-align: center;
  margin-bottom: 150px;
}
.target-sect .target-wrap > p {
  font-size: 22px;
  text-align: center;
  line-height: 38px;
}
.target-sect .target-wrap .inner-box {
  margin-top: 150px;
}
.target-sect .target-wrap .inner-box .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .target-sect .target-wrap .inner-box .item-list {
    gap: 0;
  }
}
@media screen and (min-width: 641px) {
  .target-sect .target-wrap .inner-box .item-list {
    gap: 30px;
  }
}
@media screen and (min-width: 850px) {
  .target-sect .target-wrap .inner-box .item-list {
    gap: 80px;
  }
}
@media screen and (min-width: 1050px) {
  .target-sect .target-wrap .inner-box .item-list {
    gap: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .target-sect .target-wrap .inner-box .item-list {
    gap: 100px;
  }
}
.target-sect .target-wrap .inner-box .item-list > li {
  position: relative;
  display: block;
  width: 28%;
}
@media screen and (max-width: 719px) {
  .target-sect .target-wrap .inner-box .item-list > li:first-child {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 640px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 100%;
  }
}
@media screen and (min-width: 641px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 70%;
  }
}
@media screen and (min-width: 720px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 47%;
  }
}
@media screen and (min-width: 850px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 40%;
  }
}
@media screen and (min-width: 1050px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 32%;
  }
}
@media screen and (min-width: 1280px) {
  .target-sect .target-wrap .inner-box .item-list > li {
    width: 28%;
  }
}
.target-sect .target-wrap .inner-box .item-list > li:first-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 1px;
  top: 12px;
  left: calc(100% - 35px);
}
@media screen and (max-width: 719px) {
  .target-sect .target-wrap .inner-box .item-list > li:first-child::after {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .target-sect .target-wrap .inner-box .item-list > li:first-child::after {
    display: block;
    width: 80px;
    left: calc(100% - 25px);
  }
}
@media screen and (min-width: 850px) {
  .target-sect .target-wrap .inner-box .item-list > li:first-child::after {
    display: block;
    width: 140px;
    left: calc(100% - 30px);
  }
}
@media screen and (min-width: 1050px) {
  .target-sect .target-wrap .inner-box .item-list > li:first-child::after {
    display: block;
    width: 180px;
    left: calc(100% - 35px);
  }
}
.target-sect .target-wrap .inner-box .item-list > li ul .item-title {
  font-size: 24px;
  margin-bottom: 30px;
}
.target-sect .target-wrap .inner-box .item-list > li ul .item-desc {
  display: block;
  border-radius: 100px;
  padding: 60px 20px;
  background-color: #f7f8fc;
}
.target-sect .target-wrap .inner-box .item-list > li ul .item-desc span {
  font-weight: 300;
  font-size: 14px;
}
.target-sect .target-wrap .inner-box .item-list > li ul .item-desc p {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 500;
}

.concept-sect .concept-wrap .inner-box > ul {
  text-align: center;
  width: 100%;
}
.concept-sect .concept-wrap .inner-box > ul > li {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 950px) {
  .concept-sect .concept-wrap .inner-box > ul > li:first-child {
    margin-bottom: 50px;
  }
  .concept-sect .concept-wrap .inner-box > ul > li:nth-child(2) {
    position: relative;
    margin-bottom: 140px;
  }
  .concept-sect .concept-wrap .inner-box > ul > li:nth-child(2)::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -70px;
    left: 50%;
    width: 80%;
    height: 2px;
    transform: translateX(-50%);
    background: url(../img/DashLine.svg) repeat-x center center/21px;
  }
}
.concept-sect .concept-wrap .inner-box > ul > li:last-child {
  margin-bottom: 0;
}
.concept-sect .concept-wrap .inner-box > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 60px;
}
.concept-sect .concept-wrap .inner-box > ul .list-title {
  font-size: 19px;
  padding-bottom: 20px;
}
.concept-sect .concept-wrap .inner-box > ul .list-title ul {
  position: relative;
}
.concept-sect .concept-wrap .inner-box > ul .list-title ul::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 640px) {
  .concept-sect .concept-wrap .inner-box > ul .list-title ul::after {
    width: 80px;
  }
}
@media screen and (min-width: 641px) {
  .concept-sect .concept-wrap .inner-box > ul .list-title ul::after {
    width: 150px;
  }
}
@media screen and (min-width: 850px) {
  .concept-sect .concept-wrap .inner-box > ul .list-title ul::after {
    width: 200px;
  }
}
@media screen and (min-width: 1150px) {
  .concept-sect .concept-wrap .inner-box > ul .list-title ul::after {
    width: 300px;
  }
}
.concept-sect .concept-wrap .inner-box > ul .list-title ul li {
  display: block;
  width: 35%;
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul {
  position: relative;
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 950px) {
  .concept-sect .concept-wrap .inner-box > ul .list-item ul::after {
    transform: rotate(90deg) translate(-125%, 25%);
  }
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 40px 10px;
  border-radius: 20px;
}
@media screen and (max-width: 950px) {
  .concept-sect .concept-wrap .inner-box > ul .list-item ul li {
    width: 85%;
  }
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul .item-keyword {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-weight: 500;
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul .item-concept {
  font-weight: 300;
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul .item-concept p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7490196078);
}
.concept-sect .concept-wrap .inner-box > ul .list-item ul .item-concept p em {
  display: inline-block;
  margin-top: 6px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.color-sect .color-wrap .inner-box .main-box > p {
  text-align: center;
  padding: 50px 0 80px 0;
  font-size: 22px;
  line-height: 32px;
}
.color-sect .color-wrap .inner-box .main-box ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.color-sect .color-wrap .inner-box .main-box ul li {
  position: relative;
  display: block;
  width: 265px;
  height: 160px;
}
.color-sect .color-wrap .inner-box .main-box ul li p {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  .color-sect .color-wrap .inner-box .main-box ul li p {
    transform: rotate(90deg);
    top: -45px;
    left: -35px;
  }
}
.color-sect .color-wrap .inner-box .sub-box > p {
  text-align: center;
  padding: 50px 0 80px 0;
  font-size: 22px;
  line-height: 32px;
}
.color-sect .color-wrap .inner-box .sub-box ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.color-sect .color-wrap .inner-box .sub-box ul li {
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
}
.color-sect .color-wrap .inner-box .sub-box ul li p {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  .color-sect .color-wrap .inner-box .sub-box ul li p {
    transform: rotate(90deg);
    top: -45px;
    left: -70px;
  }
}

.font-sect .font-wrap .inner-box .desc-box {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 100px;
}
.font-sect .font-wrap .inner-box .desc-box p:first-child {
  margin-bottom: 40px;
}
.font-sect .font-wrap .inner-box .font-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 719px) {
  .font-sect .font-wrap .inner-box .font-list {
    gap: 0;
  }
}
.font-sect .font-wrap .inner-box .font-list > li {
  width: 40%;
}
@media screen and (max-width: 719px) {
  .font-sect .font-wrap .inner-box .font-list > li {
    width: 100%;
  }
  .font-sect .font-wrap .inner-box .font-list > li:first-child {
    margin-bottom: 70px;
  }
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-title {
  display: flex;
  justify-content: left;
  align-items: baseline;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #000;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-title p {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-title span {
  font-size: 18px;
  font-weight: 100;
  color: #939393;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul {
  padding-left: 5px;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul li {
  font-size: 25px;
  padding: 10px 0;
  color: #000;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul li:nth-child(1) {
  font-weight: 900;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul li:nth-child(2) {
  font-weight: 700;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul li:nth-child(3) {
  font-weight: 400;
}
.font-sect .font-wrap .inner-box .font-list > li > ul .item-desc ul li:nth-child(4) {
  font-weight: 100;
}

.information-sect .information-wrap .inner-box > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-items: flex-start;
}
.information-sect .information-wrap .inner-box > ul > li {
  position: relative;
}
.information-sect .information-wrap .inner-box > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  display: none;
  bottom: -50px;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background: url(../img/DashLine.svg) repeat-x center center/21px;
}
@media screen and (max-width: 949px) {
  .information-sect .information-wrap .inner-box > ul > li:not(:last-child)::after {
    display: block;
  }
}
.information-sect .information-wrap .inner-box > ul > li:not(:first-child) > ul::before {
  content: "";
  position: absolute;
  display: block;
  top: 65px;
  left: -80px;
  width: 60px;
  height: 2px;
}
@media screen and (max-width: 949px) {
  .information-sect .information-wrap .inner-box > ul > li:not(:first-child) > ul::before {
    display: none;
  }
}
.information-sect .information-wrap .inner-box > ul > li:not(:first-child) > ul::after {
  content: "";
  position: absolute;
  display: block;
  top: 65px;
  left: -50px;
  width: 30px;
  height: calc(100% - 130px);
  border-style: solid;
  border-width: 0 0 2px 2px;
}
@media screen and (max-width: 949px) {
  .information-sect .information-wrap .inner-box > ul > li:not(:first-child) > ul::after {
    display: none;
  }
}
.information-sect .information-wrap .inner-box > ul > li > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
.information-sect .information-wrap .inner-box > ul > li > ul .item {
  display: block;
  border-radius: 100px;
  padding: 45px 35px;
  background-color: #f7f8fc;
  text-align: center;
}
.information-sect .information-wrap .inner-box > ul > li > ul .item p {
  display: block;
  font-size: 22px;
  font-weight: 500;
}
.information-sect .information-wrap .inner-box > ul > li > ul .item span {
  display: block;
  margin-top: 6px;
  font-weight: 300;
  font-size: 14px;
}

.pages-sect .pages-wrap .inner-box {
  padding-top: 100px;
  padding-bottom: 150px;
}
.pages-sect .pages-wrap .inner-box ul {
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 100%;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul {
    gap: 270px;
  }
}
.pages-sect .pages-wrap .inner-box ul li {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul li {
    flex-direction: column;
    gap: 30px;
  }
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n) {
  text-align: left;
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n) .img-box {
  order: 1;
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n) .text-box {
  order: 2;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul li:nth-child(2n) {
    text-align: center;
  }
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) {
  text-align: right;
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) .img-box {
  order: 2;
}
.pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) .text-box {
  order: 1;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) {
    text-align: center;
  }
  .pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) .img-box {
    order: 1;
  }
  .pages-sect .pages-wrap .inner-box ul li:nth-child(2n-1) .text-box {
    order: 2;
  }
}
.pages-sect .pages-wrap .inner-box ul li .img-box {
  width: 50%;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul li .img-box {
    width: 100%;
  }
}
.pages-sect .pages-wrap .inner-box ul li .img-box img {
  width: 100%;
}
.pages-sect .pages-wrap .inner-box ul li .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 50%;
}
@media screen and (max-width: 949px) {
  .pages-sect .pages-wrap .inner-box ul li .text-box {
    width: 100%;
  }
}
.pages-sect .pages-wrap .inner-box ul li .text-box .title {
  font-size: 30px;
}
.pages-sect .pages-wrap .inner-box ul li .text-box .desc {
  font-size: 21px;
  line-height: 28px;
}

.document-end-sect {
  border-radius: 0 0 50px 0;
}
.document-end-sect .document-end-wrap p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.6078431373);
}